@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background: #05070a;
  color: white;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
